<section>
    <div class="box" style=" margin-top: 30px; ">
       <div class="box-header hideline-asset" style="background-color: #273239;">
          <div class="row">
             <div class="col-lg-3-ads col-md-3 col-sm-3">
                <img src="https://www.mystellar.org/GALLERYALBUM/Stellar/Banner%206%20-%20RESERVED.png" height="50%" width="100%" />
             </div>
             <!-- End col-lg-3 -->
             <div class="col-lg-3-ads col-md-3 col-sm-3">
                <img src="https://www.mystellar.org/GALLERYALBUM/Stellar/Banner%206%20-%20RESERVED.png" height="50%" width="100%" />
             </div>
             <!-- End col-lg-3 -->
             <div class="col-lg-3-ads col-md-3 col-sm-3">
                <img src="https://www.mystellar.org/GALLERYALBUM/Stellar/Banner%206%20-%20RESERVED.png" height="50%" width="100%" />
             </div>
             <!-- End col-lg-3 -->
             <div class="col-lg-3-ads col-md-3 col-sm-3">
                <img src="https://www.mystellar.org/GALLERYALBUM/Stellar/Banner%206%20-%20RESERVED.png" height="50%" width="100%" />
             </div>
             <!-- End col-lg-3 -->
          </div>
          <!-- End Row -->
       </div>
       <!-- /.box-header -->
    </div>
    <!-- End box -->
    <div class="row" style="margin-left: 15px; margin-right: 15px;">
       <div class="box">
          <div class="box">
             <div class="box-body">
                <h3 class="text-left" style="padding-left: 8px;">Open Order</h3>
                <!-- My Open Orders -->
                <table class="table table-hover" id="moo" width="100%" cellspacing="0">
                   <thead class="head-column">
                      <tr>
                         <th class="font-tablet-14">ORDER DATE</th>
                         <th class="font-tablet-14" style="padding-right: 5px;">TYPE</th>
                         <th class="font-tablet-14">AMOUNT</th>
                         <th class="font-tablet-14">PRICE</th>
                         <th class="font-tablet-14">MARKET</th>
                         <th class="font-tablet-14">FILLED</th>
                         <th class="font-tablet-14">UNIT TOTALS</th>
                         <th class="font-tablet-14">ACTUAL RATE</th>
                         <th class="font-tablet-14">COST</th>
                         <th class="font-tablet-14">ACTION</th>
                      </tr>
                   </thead>
                   <tbody>
                      <tr>
                         <td class="font-tablet-14">2018-08-12 12.00.33</td>
                         <td class="text-red font-tablet-14">Sell</td>
                         <td class="font-tablet-14">10.00000001 FRAS</td>
                         <td class="font-tablet-14">1.0000001 XLM</td>
                         <td class="font-tablet-14">FRAS-XLM</td>
                         <td class="font-tablet-14">7.00000001 FRAS</td>
                         <td class="font-tablet-14">7.00000001 XLM</td>
                         <td class="font-tablet-14">1.0000001 XLM</td>
                         <td class="font-tablet-14" class="text-red">-0.0001 XLM</td>
                         <td class="font-tablet-14"><a href="#" class="text-orange"><b>Cancel</b></a></td>
                      </tr>
                      <tr>
                         <td class="font-tablet-14">2018-08-12 12.00.33</td>
                         <td class="text-green font-tablet-14">Buy</td>
                         <td class="font-tablet-14">10.00000001 FRAS</td>
                         <td class="font-tablet-14">1.0000001 XLM</td>
                         <td class="font-tablet-14">FRAS-XLM</td>
                         <td class="font-tablet-14">7.00000001 FRAS</td>
                         <td class="font-tablet-14">7.00000001 XLM</td>
                         <td class="font-tablet-14">1.0000001 XLM</td>
                         <td class="font-tablet-14" class="text-red">-0.0001 XLM</td>
                         <td class="font-tablet-14"><a href="#" class="text-orange"><b>Cancel</b></a></td>
                      </tr>
                      <tr>
                         <td class="font-tablet-14">2018-08-12 12.00.33</td>
                         <td class="text-red font-tablet-14">Sell</td>
                         <td class="font-tablet-14">10.00000001 FRAS</td>
                         <td class="font-tablet-14">1.0000001 XLM</td>
                         <td class="font-tablet-14">FRAS-XLM</td>
                         <td class="font-tablet-14">7.00000001 FRAS</td>
                         <td class="font-tablet-14">7.00000001 XLM</td>
                         <td class="font-tablet-14">1.0000001 XLM</td>
                         <td class="font-tablet-14" class="text-red">-0.0001 XLM</td>
                         <td class="font-tablet-14"><a href="#" class="text-orange"><b>Cancel</b></a></td>
                      </tr>
                      <tr>
                         <td class="font-tablet-14">2018-08-12 12.00.33</td>
                         <td class="text-red font-tablet-14">Sell</td>
                         <td class="font-tablet-14">10.00000001 FRAS</td>
                         <td class="font-tablet-14">1.0000001 XLM</td>
                         <td class="font-tablet-14">FRAS-XLM</td>
                         <td class="font-tablet-14">7.00000001 FRAS</td>
                         <td class="font-tablet-14">7.00000001 XLM</td>
                         <td class="font-tablet-14">1.0000001 XLM</td>
                         <td class="font-tablet-14" class="text-red">-0.0001 XLM</td>
                         <td class="font-tablet-14"><a href="#" class="text-orange"><b>Cancel</b></a></td>
                      </tr>
                      <tr>
                         <td class="font-tablet-14">2018-08-12 12.00.33</td>
                         <td class="text-green font-tablet-14">Buy</td>
                         <td class="font-tablet-14">10.00000001 FRAS</td>
                         <td class="font-tablet-14">1.0000001 XLM</td>
                         <td class="font-tablet-14">FRAS-XLM</td>
                         <td class="font-tablet-14">7.00000001 FRAS</td>
                         <td class="font-tablet-14">7.00000001 XLM</td>
                         <td class="font-tablet-14">1.0000001 XLM</td>
                         <td class="font-tablet-14" class="text-red">-0.0001 XLM</td>
                         <td class="font-tablet-14"><a href="#" class="text-orange"><b>Cancel</b></a></td>
                      </tr>
                      <tr>
                         <td class="font-tablet-14">2018-08-12 12.00.33</td>
                         <td class="text-red font-tablet-14">Sell</td>
                         <td class="font-tablet-14">10.00000001 FRAS</td>
                         <td class="font-tablet-14">1.0000001 XLM</td>
                         <td class="font-tablet-14">FRAS-XLM</td>
                         <td class="font-tablet-14">7.00000001 FRAS</td>
                         <td class="font-tablet-14">7.00000001 XLM</td>
                         <td class="font-tablet-14">1.0000001 XLM</td>
                         <td class="font-tablet-14" class="text-red">-0.0001 XLM</td>
                         <td class="font-tablet-14"><a href="#" class="text-orange"><b>Cancel</b></a></td>
                      </tr>
                      <tr>
                         <td class="font-tablet-14">2018-08-12 12.00.33</td>
                         <td class="text-red font-tablet-14">Sell</td>
                         <td class="font-tablet-14">10.00000001 FRAS</td>
                         <td class="font-tablet-14">1.0000001 XLM</td>
                         <td class="font-tablet-14">FRAS-XLM</td>
                         <td class="font-tablet-14">7.00000001 FRAS</td>
                         <td class="font-tablet-14">7.00000001 XLM</td>
                         <td class="font-tablet-14">1.0000001 XLM</td>
                         <td class="font-tablet-14" class="text-red">-0.0001 XLM</td>
                         <td class="font-tablet-14"><a href="#" class="text-orange"><b>Cancel</b></a></td>
                      </tr>
                      <tr>
                         <td class="font-tablet-14">2018-08-12 12.00.33</td>
                         <td class="text-green font-tablet-14">Buy</td>
                         <td class="font-tablet-14">10.00000001 FRAS</td>
                         <td class="font-tablet-14">1.0000001 XLM</td>
                         <td class="font-tablet-14">FRAS-XLM</td>
                         <td class="font-tablet-14">7.00000001 FRAS</td>
                         <td class="font-tablet-14">7.00000001 XLM</td>
                         <td class="font-tablet-14">1.0000001 XLM</td>
                         <td class="font-tablet-14" class="text-red">-0.0001 XLM</td>
                         <td class="font-tablet-14"><a href="#" class="text-orange"><b>Cancel</b></a></td>
                      </tr>
                      <tr>
                         <td class="font-tablet-14">2018-08-12 12.00.33</td>
                         <td class="text-red font-tablet-14">Sell</td>
                         <td class="font-tablet-14">10.00000001 FRAS</td>
                         <td class="font-tablet-14">1.0000001 XLM</td>
                         <td class="font-tablet-14">FRAS-XLM</td>
                         <td class="font-tablet-14">7.00000001 FRAS</td>
                         <td class="font-tablet-14">7.00000001 XLM</td>
                         <td class="font-tablet-14">1.0000001 XLM</td>
                         <td class="font-tablet-14" class="text-red">-0.0001 XLM</td>
                         <td class="font-tablet-14"><a href="#" class="text-orange"><b>Cancel</b></a></td>
                      </tr>
                   </tbody>
                </table>
             </div>
             <!-- End box-body -->
          </div>
          <!-- End Box -->
       </div>
       <!-- End Box -->
    </div>
 </section>