<body class="hold-transition skin-blue sidebar-mini">
<aside class="main-sidebar">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" style="margin-left: 16px; margin-right: 16px;">
       <span style="color: #fff; font-size: 18px;">ACCOUNT</span>
       <li class="treeview menu-site-setting active">
          <a [routerLink]="['/activity']">
          <span>My Activity</span>
          </a>
       </li>
       <li class="treeview menu-site-setting">
          <a [routerLink]="['/profile']">
          <span>My Profile</span>
          </a>
       </li>
       <li class="treeview"  style="font-size: 15px; margin-bottom: 20px;">
          <a [routerLink]="['/idverif']">
          <span>Identity Verification</span>
          </a>
       </li>
       <span style="color: #fff; font-size: 18px;">SITE SETTINGS</span>
       <li class="treeview menu-site-setting">
          <a [routerLink]="['/apikey']">
          <span>API Keys</span>
          </a>
       </li>
    </ul>
    <!-- /.sidebar -->
 </aside>
 <!-- Content Wrapper. Contains page content -->
 <div class="content-wrapper">
    <div class="box">
       <div class="box-header">
          <h1>
             ACCOUNT
             <small>My Activity</small>
          </h1>
       </div>
       <div class="box-body">
          <!--Three Column Layout-->
          <div class="column-3-left">
             <p class="info-box-header">Username</p>
             <p class="info-box-header">Username Email</p>
             <p class="info-box-header">Status</p>
             <p class="info-box-header middle-box">Daily Withdrawal Limit</p>
          </div>
          <div class="column-3-left">
             <p class="info-box-header bold-font">Ucok</p>
             <p class="info-box-header bold-font">frasindo@gmail.com</p>
             <p class="info-box-header bold-font text-red">Unverified</p>
             <!-- <p class="info-box-header bold-font text-green">Verified</p> -->
             <p class="info-box-header bold-font middle-box">0 <span>BTC</span></p>
          </div>
       </div>
       <!-- Box-Content -->
    </div>

    <div class="box">
        <div class="box-header">
           <h2>USER ACTIVITY</h2>
        </div>
        <div class="box-body">
           <!-- Market History -->
           <table class="table table-hover" id="yth" width="100%" cellspacing="0" style="background-color: #fff;">
              <thead>
                 <tr style="background-color: #f4f4f5;">
                    <th>TIME STAMP</th>
                    <th>IP ADDRESS</th>
                    <th>ACCESS FROM</th>
                    <th>ACTIVITY</th>
                 </tr>
              </thead>
              <tbody>
                 <tr>
                    <td>12/10/18 23:52:48</td>
                    <td>180.252.126.24</td>
                    <td>ARDOR-EVGT-RVVT-T5CT</td>
                    <td>LOGIN</td>
                 </tr>
                 <tr>
                    <td>12/10/18 23:52:48</td>
                    <td>180.252.126.24</td>
                    <td>0Xvbvrnbujyyknikujubj8uj</td>
                    <td>LOGIN</td>
                 </tr>
                 <tr>
                    <td>12/10/18 23:52:48</td>
                    <td>180.252.126.24</td>
                    <td>frasindo@mail.com</td>
                    <td>LOGIN</td>
                 </tr>
                 <tr>
                    <td>12/10/18 23:52:48</td>
                    <td>180.252.126.24</td>
                    <td>frasindo@mail.com</td>
                    <td>LOGIN</td>
                 <tr>
                    <td>12/10/18 23:52:48</td>
                    <td>180.252.126.24</td>
                    <td>frasindo@mail.com</td>
                    <td>LOGIN</td>
                 </tr>
              </tbody>
           </table>
           <!-- End Your History -->
        </div>
     </div>
 </div>
 </body>