       .nav-tabs-custom > .nav-tabs > li.active > a, .nav-tabs-custom > .nav-tabs > li.active:hover > a {
           background-color: #dff9ed;
       }
               td.details-control {
             text-align:center;
             color:forestgreen;
     cursor: pointer;
 }
 tr.shown td.details-control {
     text-align:center; 
     color:red;
 }